<!DOCTYPE html>
<html ng-app="NoteWrangler">
  <head>
    <meta charset="utf-8">
    <title>Note Wrangler</title>
    <link rel="stylesheet" href="assets/styles/bootstrap.css"></link>
    <link rel="stylesheet" href="assets/styles/bootstrap-theme.css"></link>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">
            <a href="#/">NoteWrangler</a>
          </div>
        </div>
        <nw-page-nav></nw-page-nav>
      </div>

    </nav>
    <div ng-view class="container-fluid"></div>
  </body>
  <!-- vendors -->
  <script src="assets/javascript/vendor/jquery-1.12.0.min.js"></script>
  <script src="assets/javascript/vendor/angular.js"></script>
  <script src="assets/javascript/vendor/angular-route.js"></script>
  <script src="assets/javascript/vendor/angular-resource.js"></script>
  <script src="assets/javascript/vendor/bootstrap.min.js"></script>
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
  <script src="assets/javascript/vendor/ngGravatar.js"></script>

  <!-- App -->
  <script src="assets/javascript/app.js"></script>
  <script src="assets/javascript/routes.js"></script>

  <!-- Controllers -->
  <script src="assets/javascript/controllers/noteIndexController.js"></script>
  <script src="assets/javascript/controllers/noteShowController.js"></script>
  <script src="assets/javascript/controllers/noteCreateController.js"></script>
  <script src="assets/javascript/controllers/noteEditController.js"></script>
  <script src="assets/javascript/controllers/userIndexController.js"></script>
  <script src="assets/javascript/controllers/userShowController.js"></script>

  <!-- services -->
  <script src="assets/javascript/services/note.js"></script>
  <script src="assets/javascript/services/user.js"></script>
  <script src="assets/javascript/services/category.js"></script>

  <!-- directives -->
  <script src="assets/javascript/directive/nwPageNav.js"></script>
  <script src="assets/javascript/directive/nwCategorySelector.js"></script>
  <script src="assets/javascript/directive/title.js"></script>

  <!-- Filters -->
  <script src="assets/javascript/filter/categoryFilter.js"></script>

</html>
